.container {
    text-align: center; 
    padding: 10px;
}

h3 {
    color: #86b3d1;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

hr {
    border: none;
    border-top: 2px dotted #86b3d1  ;
    margin: 20px 0;
}

.youtube-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #86b3d1; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px;
    margin: 10px; 
    transition: background-color 0.3s ease; 
}

.youtube-link:hover {
    background-color: #c3e2f7; /
}
